[Desktop Entry]
Name=First login
Type=Application
Exec=sh -c "gnome-terminal -- \$HOME/.local/bin/first_login"
Comment=Perform interactive configuration on first login.
