[Unit]
Description=Configure system on first boot.

[Service]
ExecStart=sh -c '/home/$(ls /home)/.local/bin/first_boot'

[Install]
WantedBy=graphical.target
